body {
    margin: 0px;
    padding: 0px;   
}

/***********************************************/
/*               section 1                     */
.btn-primary {
   background-color: #ff7f00;
   border: none;
   margin-top: 2.5em;
    font-size: 1.5em;
   }

.bg {
    background-image: url(images/main.jpg);
    background-position: center center;
    height: 90%;
}

.texte, .grdeBoite {    
    border: 4px solid black;
}

/*************************************************/
/*                  section 2                    */
.section2 {
    padding: 2em 12em;
    font-size: 0.9em;
}

h6 {
    padding-top: 1em;
    font-weight: bold;
}

.element {
    padding: 0.7em;
    text-align: center;
}

/***************************************************/
/*           modif responsive                      */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 540px) { ... }

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 720x) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 960px) { ... }

