body {
    margin: 0px;
    padding: 0px;
}

/***********************************************/
/*         header -NLA                         */

/***********************************************/
/*               section 1 ABE              */
.btn-primary {
   background-color: #ff7f00;
   border: none;
   margin-top: 2.5em;
    font-size: 1.5em;
   }

.bg {
    background-image: url(images/main.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 90%;
}

.texte, .grdeBoite {
    border: 4px solid black;
}

/*************************************************/
/*                  section 2 -ABE            */
.section2 {
    padding: 2em 12em;
    font-size: 0.9em;
}

h6 {
    padding-top: 1em;
    font-weight: bold;
}

.element {
    padding: 0.7em;
    text-align: center;
}

#icones {
  margin: 0;
}

/****************************/

@media (max-width: 768px){
     .btn-primary {
   background-color: #ff7f00;
   border: none;
   margin: 0.3em;
   font-size: 1.4em;
   }

   .section2 img {
     display: none;
   }

   .section2 .bg-2 {
     background-image: url(images/steps-icon-1.png);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: contain;
   }

   .section2 .bg-3 {
     background-image: url(images/steps-icon-2.png);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: contain;
   }

   .section2 .bg-4 {
     background-image: url(images/steps-icon-3.png);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: contain;
   }
}

/******************************/
@media (max-width: 576px){

   .btn-primary {
   background-color: #ff7f00;
   border: none;
   margin-top: 0.1em;
    font-size: 1.2em;
   }

}
